@use './sass/_variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

th{
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 20px !important;
}

input[type="checkbox"]{
  all: unset;
  border: 1px solid white;
  padding: 5px;
  width: 3px;
  height: 3px;
  border-radius: 2px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url('/public/Vector.png');
  background-size: cover;
  background-position: center;
  width: 5px;
  height: 5px;
  border: none;
}